%div{'align'=>"center"}
    %div{'class'=>"tabbable tabs-left"}
        %ul{'class'=>"nav nav-tabs"}
            %li{'class'=>"active"}
                %a{'data-toggle'=>'tab','href'=>'#bioTab'} Bio
            %li
                %a{'data-toggle'=>'tab','href'=>'#socialTab'} Social
            %li
                %a{'data-toggle'=>'tab','href'=>'#projTab'} Project
        %div{'class'=>"tab-content"}
            %div{'id'=>'bioTab','class'=>'tab-pane active'}
                %div{'class'=>"pagination pagination-left"}
                    %p{'class'=>'muted'}
                        I'm a software engineer since a few years ago, I like all technology releated stuffs from hardware to complex algorithms that may cause you nightmares, so, why I like to do that kind of things if those are so complicated and each day is constantly going and going on?, well, because I think that this world just should be better, faster and smarter, and that I can contribute a little on it.
                    %p{'class'=>'muted'} ...
            %div{'id'=>'socialTab','class'=>'tab-pane','align'=>'left'}
                %table{'class'=>"table"}
                    %tr
                        %td
                            %p{'class'=>"muted"} Facebook
                        %td
                            %a{'href'=>"http://www.facebook.com/hmnicanor", 'class'=>"btn btn-primary",'target'=>"_blank"} hmnicanor
                        %td
                            %p{'class'=>"muted"} Twitter
                        %td
                            %a{'href'=>"http://www.twitter.com/roar109", 'class'=>"btn btn-info",'target'=>"_blank"} @roar109
                    %tr
                        %td
                            %p{'class'=>"muted"} Linkedin
                        %td
                            %a{'href'=>"http://mx.linkedin.com/in/hectormendoza/", 'class'=>"btn btn-primary",'target'=>"_blank"} Hector Mendoza
                        %td
                            %p{'class'=>"muted"} Google+
                        %td
                            %a{'href'=>"https://plus.google.com/u/0/115051542261450889349/", 'class'=>"btn btn-info",'target'=>"_blank"} roar109
            %div{'id'=>'projTab','class'=>'tab-pane','align'=>'left'}
                %div{'class'=>"pagination pagination-centered"}
                    %a{'href'=>"https://github.com/roar109",'class'=>"btn btn-info",'target'=>"_blank"} Look at Github