%div{'align'=>"center"}
    %div{}
        %div{'class'=>"tab-content"}
            %br{}
            %h2{}
                Honda Civic 2012 Ex Aut.
            %br{}
            %p{'class'=>'text-left'}
                %dl{'class'=>"dl-horizontal"}
                    %dt{'text-align'=>'right'}
                        Resumen
                    %dd{'style'=>'text-align:left'}
                        Unico Dueño
                    %dd{'style'=>'text-align:left'}
                        108k kms
                    %dd{'style'=>'text-align:left'}
                        Cero choques
                    %dd{'style'=>'text-align:left'}
                        Tenencias/Refrendo al corriente
                    %dd{'style'=>'text-align:left'}
                        Mantenimientos preventivos cada 5k km en agencia
                    %dd{'style'=>'text-align:left'}
                        2 llaves y llave de valet parking
                    %dd{}
                        %br{}

                    %dt{'text-align'=>'right'}
                        Especificaciones
                    %dd{'style'=>'text-align:left'}
                        Motor 1.8 lts, 4 cilindros , 140 hp/rpm y 138 lb/pie
                    %dd{'style'=>'text-align:left'}
                        Automatico
                    %dd{'style'=>'text-align:left'}
                        Aire acondicionado de 1 zona
                    %dd{'style'=>'text-align:left'}
                        Asientos de tela
                    %dd{'style'=>'text-align:left'}
                        Llanta temporal de refaccion, kit de herramientas Honda
                    %dd{'style'=>'text-align:left'}
                        Vidrios electronicos delanteros y traseros
                    %dd{'style'=>'text-align:left'}
                        Frenos ABS
                    %dd{'style'=>'text-align:left'}
                        Candados de espejos
                    %dd{'style'=>'text-align:left'}
                        6 Bolsas de aire
                    %dd{'style'=>'text-align:left'}
                        Pantalla informativa Honda 5"
                    %dd{'style'=>'text-align:left'}
                        Auxiliar, USB (iPod or memoria usb con Mp3/WMA o compatible)
            %br{}
            %br{}
            %div{'id'=>'carousel-example-generic', 'class'=>'carousel slide', 'data-ride'=>'carousel'}
                %ol{'class'=>'carousel-indicators'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'0', 'class'=>'active'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'1'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'2'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'3'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'4'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'5'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'6'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'7'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'8'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'9'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'10'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'11'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'12'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'13'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'14'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'15'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'16'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'17'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'18'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'19'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'20'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'21'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'22'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'23'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'24'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'25'}
                    %li{'data-target'=>'#carousel-example-generic', 'data-slide-to'=>'26'}

                %div{'class'=>'carousel-inner', 'role'=>'listbox'}
                    %div{'class'=>'item active'}
                        %img{'src'=>'images\civic\1.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\2.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\3.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\4.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\5.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\6.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\7.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\8.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\9.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\10.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\11.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\12.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\13.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\14.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\15.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\16.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\17.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\18.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\19.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\20.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\21.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\22.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\23.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\24.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\25.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\26.jpg'}
                    %div{'class'=>'item'}
                        %img{'src'=>'images\civic\27.jpg'}

                %a{'class'=>'left carousel-control', 'href'=>'#carousel-example-generic', 'role'=>'button', 'data-slide'=>'prev'}
                    %span{'class'=>'glyphicon glyphicon-chevron-left', 'aria-hidden'=>'true'}
                    %span{'class'=>'sr-only'}
                        Previous
                %a{'class'=>'right carousel-control', 'href'=>'#carousel-example-generic', 'role'=>'button' ,'data-slide'=>'next'}
                    %span{'class'=>'glyphicon glyphicon-chevron-right', 'aria-hidden'=>'true'}
                    %span{'class'=>'sr-only'}
                        Next