!!!
%html
	%head
		%meta{'http-equiv'=>'Content-type', 'content'=>'text/html;charset=UTF-8'}
		%meta{'name'=>'viewport', 'content'=>'width=device-width, initial-scale=1.0'}
		%title Rage

	%body
		%div{'class'=>"container-narrow"}
			%div{'class'=>"masthead"}
				%ul{'class'=>'nav nav-pills pull-right'}
					%li{'class'=>@activeTab == 'root' && 'active'}
						%a{'href'=>'/'} Home
					%li{'class'=>@activeTab == 'about' && 'active'}
						%a{'href'=>'/about'} About
					%li
						%a{'href'=>'#aboutModal','data-toggle'=>'modal','role'=>'button','data-target'=>'#aboutModal'} Contact
				%h3{'class'=>'muted'} Rage
			%hr
			=yield
		%div{'id'=>"contactTempl"}
			%div{'class'=>'modal fade','id'=>'aboutModal','tabindex'=>'-1','role'=>'dialog', 'aria-labelledby'=>'aboutModal','aria-hidden'=>'true'}
				%div{'class'=>'modal-dialog modal-med'}
					%div{'class'=>'modal-content'}
						%div{'class'=>'modal-header'}
							%button{'type'=>'button','class'=>'close','data-dismiss'=>'modal', 'aria-hidden'=>'true'} &times;
							%h3 Contact
						%div{'class'=>'modal-body'}
							%p
								No email for now folks, use one of the social media links I attached.
						%div{'class'=>'modal-footer'} 
							%a{'href'=>'#aboutModal','class'=>'btn','data-dismiss'=>'modal'} Close

		%script{'src'=>'//cdn.hmendoza.com/js/jquery.min.js'}
		%script{'src'=>'//cdn.hmendoza.com/js/bootstrap.min.js'}
		%script
			:plain
				var cb = function() {
				var rc = document.createElement('link'); rc.rel = 'stylesheet'; rc.href = '//cdn.hmendoza.com/css/rc.css';rc.media='screen';
				var ic = document.createElement('link'); ic.rel = 'shortcut icon'; ic.href = '//cdn.hmendoza.com/favicon.ico'; 
				var bt = document.createElement('link'); bt.rel = 'stylesheet'; bt.href = '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css';
				var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(rc, h); h.parentNode.insertBefore(ic, h); h.parentNode.insertBefore(bt, h);
				};
				var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame; if (raf) raf(cb);else window.addEventListener('load', cb);
